[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bandit = "*"
flake8 = "*"
flake8-isort = "*"
tox = "*"

[requires]
python_version = "3.6"
